---
layout: ""
page_title: "AWS examples"
description: |-
 This guide focuses on different aws resources examples.
---

# AWS examples

This guide focuses on using Turbonomic data sources with [AWS](https://registry.terraform.io/providers/hashicorp/aws/latest/docs) resources, enabling dynamic resource configuration based on Turbonomic recommendations.

## AWS EC2 example

The AWS EC2 resource is configured to use the `turbonomic_aws_instance` data source unless null is returned, in which case it uses `<default_instance_type>` by default.

{{ tffile "examples/aws_instance/main.tf" }}

## AWS RDS example

The AWS RDS resource is configured to use the `turbonomic_aws_db_instance` data source unless null is returned, in which case it defaults to `<default_instance_class>` for the `default_instance_class` and `<default_storage_type>` for the `default_storage_type`.

{{ tffile "examples/aws-rds/main.tf" }}
## AWS EBS example

The AWS EBS resource is configured to use the `turbonomic_aws_ebs_volume` data source unless null is returned, in which case it uses `<default_type>` by default.

{{ tffile "examples/aws-ebs/main.tf" }}
