---
layout: ""
page_title: "Azure examples"
description: |-
 This guide focuses on different azure resources examples.
---

# Azure examples

This guide focuses on using Turbonomic data sources with [Azure](https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs) resources, enabling dynamic resource configuration based on Turbonomic recommendations.

## Azure virtual machines example

The `size` is configured to use the `turbonomic_azurerm_linux_virtual_machine` data source unless null is returned, in which case it uses `<default_size>` by default.

{{ tffile "examples/azurerm_linux_virtual_machine/main.tf" }}

## Azure managed disks example

The `storage_account_type` is set to use the `turbonomic_azurerm_managed_disk` data source unless null is returned, in which case it uses `<default_storage_account_type>` by default.

{{ tffile "examples/azure_managed_disks/main.tf" }}

## Azure mssql database example

The `sku_name` is set to use the `turbonomic_azurerm_mssql_database` data source unless null is returned, in which case it uses `<default_sku_name>` by default.

{{ tffile "examples/azurerm_mssql_database/main.tf" }}
