---
layout: ""
page_title: "Azure examples"
description: |-
 This guide focuses on different azure resources examples.
---

# Azure examples

This guide focuses on using Turbonomic data sources with [Azure](https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs) resources, enabling dynamic resource configuration based on Turbonomic recommendations.

## Azure virtual machines example

The `size` is configured to use the `turbonomic_azurerm_linux_virtual_machine` data source unless null is returned, in which case it uses `<default_size>` by default.

{{ tffile "examples/azurerm_linux_virtual_machine/main.tf" }}

## Azure managed disks example

The `storage_account_type` is set to use the `turbonomic_azurerm_managed_disk` data source unless null is returned, in which case it uses `<default_storage_account_type>` by default.
Either `<vendor_id>` or `<entity_name>` to be provided to uniquely identify an entity.

{{ tffile "examples/azure_managed_disks/main.tf" }}

## Azure mssql database example

The `sku_name` is set to use the `turbonomic_azurerm_mssql_database` data source unless null is returned, in which case it uses `<default_sku_name>` by default.

{{ tffile "examples/azurerm_mssql_database/main.tf" }}

The `azurerm_resources` data source can be used to get information about existing Azure resources.

```terraform
data "azurerm_resources" "example" {
  resource_group_name = "terraformResourceGroup1"
}

  + azure = {
      + id                  = "resource-cb4f0cd5-95e4-4620-9eba-debccc294ab1"
      + name                = null
      + required_tags       = null
      + resource_group_name = "terraformResourceGroup1"
      + resources           = [
          + {
              + id                  = "/subscriptions/758ad253-cbf5-4b18-8863-3eed0825bf07/resourceGroups/terraformResourceGroup1/providers/Microsoft.Network/networkInterfaces/terraformNetworkInterface1"
              + location            = "westeurope"
              + name                = "terraformNetworkInterface1"
              + resource_group_name = "terraformResourceGroup1"
              + tags                = {}
              + type                = "Microsoft.Network/networkInterfaces"
            },
          + {
              + id                  = "/subscriptions/758ad253-cbf5-4b18-8863-3eed0825bf07/resourceGroups/TERRAFORMRESOURCEGROUP1/providers/Microsoft.Compute/virtualMachines/terraformDemo1"
              + location            = "westeurope"
              + name                = "terraformDemo1"
              + resource_group_name = "TERRAFORMRESOURCEGROUP1"
              + tags                = {
                  + turbo_comment = "terraform_development"
                  + turbo_owner   = "raymileo_at_ibmcom"
                  + turbo_park    = "true"
                  + turbo_team    = "appinfra_integrations"
                  + turbo_ttl     = "070125"
                  + turbo_use     = "development"
                }
              + type                = "Microsoft.Compute/virtualMachines"
            },
          + {
              + id                  = "/subscriptions/758ad253-cbf5-4b18-8863-3eed0825bf07/resourceGroups/TERRAFORMRESOURCEGROUP1/providers/Microsoft.Compute/disks/terraformDemo1_disk1_33c86b70a52a4e04a14c04f1dc633a79"
              + location            = "westeurope"
              + name                = "terraformDemo1_disk1_33c86b70a52a4e04a14c04f1dc633a79"
              + resource_group_name = "TERRAFORMRESOURCEGROUP1"
              + tags                = {
                  + turbo_comment = "terraform_development"
                  + turbo_owner   = "raymileo_at_ibmcom"
                  + turbo_park    = "true"
                  + turbo_team    = "appinfra_integrations"
                  + turbo_ttl     = "070125"
                  + turbo_use     = "development"
                }
              + type                = "Microsoft.Compute/disks"
            },
        ]
      + timeouts            = null
      + type                = null
    }
```

The vendor ID can be found in the `id` attribute and can be used to uniquely identify Azure volumes in Turbonomic, via API calls.
