---
layout: ""
page_title: "Google Cloud examples"
description: |-
 This guide focuses on different google cloud resources examples.
---

# Google Cloud examples

This guide focuses on using Turbonomic data sources with [Google Cloud](https://registry.terraform.io/providers/hashicorp/google/latest/docs) resources, enabling dynamic resource configuration based on Turbonomic recommendations.

## Google compute engine example

The `machine_type` is set to use the `turbonomic_google_compute_instance` data source unless null is returned, in which case it uses `<default_machine_type>` by default.
Either `<vendor_id>` or `<entity_name>` to be provided to uniquely identify an entity.

{{ tffile "examples/google_compute_instance/main.tf" }}

The `google_compute_instance` resource exports the unique vendor ID of a Google virtual machine in the `<instance_id>` attribute. The vendor ID can be used to uniquely identify Google virtual machines in Turbonomic.

```terraform
data "google_compute_instance" "example" {
  name    = "terraform-demo-instance-2"
}

...
      + id                           = "projects/turbonomic-eng/zones/us-central1-a/instances/terraform-demo-instance-2"
      + instance_id                  = "2414488728333660266"
      + labels                       = {
          + goog-terraform-provisioned = "true"
          + turbo_comment              = "terraform_development"
          + turbo_owner                = "raymileo_at_ibmcom"
          + turbo_park                 = "true"
          + turbo_team                 = "appinfra_integrations"
          + turbo_ttl                  = "070125"
          + turbo_use                  = "development"
        }
        + terraform_labels             = {
          + goog-terraform-provisioned = "true"
          + turbo_comment              = "terraform_development"
          + turbo_owner                = "raymileo_at_ibmcom"
          + turbo_park                 = "true"
          + turbo_team                 = "appinfra_integrations"
          + turbo_ttl                  = "070125"
          + turbo_use                  = "development"
        }
      + zone                         = "us-central1-a"
...
```

## Google persistent disk example

The Google Persistent Disk resource is configured to use the `turbonomic_google_compute_disk` data source unless null is returned, in which case it uses `<default_type>` by default.
Either `<vendor_id>` or `<entity_name>` to be provided to uniquely identify an entity.

{{ tffile "examples/google-compute-disk/main.tf" }}

The `google_compute_disk` resource exports the unique vendor ID of a Google virtual volume in the `<self_link>` attribute.

```terraform
data "google_compute_disk" "example" {
  name    = "terraform-demo-instance-2"
}

...
  + dsk = {
      + access_mode                           = ""
      + architecture                          = null
      + async_primary_disk                    = []
      + create_snapshot_before_destroy        = false
      + create_snapshot_before_destroy_prefix = null
      + creation_timestamp                    = "2025-05-21T19:40:05.534-07:00"
      + description                           = ""
      + disk_encryption_key                   = []
      + disk_id                               = "5865946953027891306"
      + effective_labels                      = {}
      + enable_confidential_compute           = false
      + id                                    = "projects/turbonomic-eng/zones/us-central1-a/disks/terraform-demo-instance-2"
...
      + name                                  = "terraform-demo-instance-2"
      + params                                = null
      + physical_block_size_bytes             = 4096
      + project                               = "turbonomic-eng"
      + provisioned_iops                      = 0
      + provisioned_throughput                = 0
      + self_link                             = "https://www.googleapis.com/compute/v1/projects/turbonomic-eng/zones/us-central1-a/disks/terraform-demo-instance-2"
      + size                                  = 10
      + snapshot                              = ""
      + source_disk                           = ""
      + source_disk_id                        = ""
      + source_image_encryption_key           = []
      + source_image_id                       = "5688726955899123773"
      + source_instant_snapshot               = ""
      + source_instant_snapshot_id            = ""
      + source_snapshot_encryption_key        = []
      + source_snapshot_id                    = ""
      + source_storage_object                 = null
      + storage_pool                          = ""
      + terraform_labels                      = {}
      + type                                  = "pd-standard"
      + users                                 = [
          + "https://www.googleapis.com/compute/v1/projects/turbonomic-eng/zones/us-central1-a/instances/terraform-demo-instance-2",
        ]
      + zone                                  = "us-central1-a"
    }
```

The vendor ID can be used to uniquely identify Google volumes in Turbonomic, via API calls.
