---
layout: ""
page_title: "Google Cloud examples"
description: |-
 This guide focuses on different google cloud resources examples.
---

# Google Cloud examples

This guide focuses on using Turbonomic data sources with [Google Cloud](https://registry.terraform.io/providers/hashicorp/google/latest/docs) resources, enabling dynamic resource configuration based on Turbonomic recommendations.

## Google compute engine example

The `machine_type` is set to use the `turbonomic_google_compute_instance` data source unless null is returned, in which case it uses `<default_machine_type>` by default.

{{ tffile "examples/google_compute_instance/main.tf" }}

## Google persistent disk example

The Google Persistent Disk resource is confgured to use the `turbonomic_google_compute_disk` data source unless null is returned, in which case it uses `<default_type>` by default.

{{ tffile "examples/google-compute-disk/main.tf" }}
