---
layout: ""
page_title: "Provider: {{ .RenderedProviderName }}"
description: |-
  The Turbonomic provider supplies data resources to interact with the Turbonomic API.
---

# {{ .RenderedProviderName }} provider

The Turbonomic provider supplies data resources to interact with the Turbonomic API.

The provider sets Turbonomic as the source of truth for scaling decisions about cloud
entities that are deployed through Terraform. The data source of the provider returns
the tier size based on Turbonomic scaling action recommendations, or the current size
if no scaling action exists.

## Examples

The following examples demonstrate the Terraform code to and use the provider in different cloud environments.

### Configuring the provider credentials

Before you can use the provider, you must configure it with credentials.  You can use either username and password or OAuth 2.0.

#### Example using username/password credentials

{{ tffile "examples/provider/provider.tf" }}

#### Example using OAuth 2.0 credentials

In order to authenticate to Turbonomic's API using OAuth 2.0, you first need to create an OAuth client.
For more information, see [Creating and authenticating an OAuth 2.0 client](https://www.ibm.com/docs/en/tarm/8.15.0?topic=cookbook-authenticating-oauth-20-clients-api#cookbook_administration_oauth_authentication__title__4)
to create the client.  Note, you must create the OAuth 2.0 client using `client_secret_basic` as the `clientAuthenticationMethods`. The output from the preceeding documentation will result in the following parameters:
- clientId
- clientSecret
- role

{{ tffile "examples/provider/providerOAuth.tf" }}

**Note:** Valid roles are ADMINISTRATOR, SITE_ADMIN, AUTOMATOR, DEPLOYER, ADVISOR, OBSERVER, OPERATIONAL_OBSERVER, SHARED_ADVISOR, SHARED_OBSERVER and REPORT_EDITOR.

### Example data source configuration

The following example shows the Turbonomic data source struct that you can use in different cloud environments.

{{ tffile "examples/data-sources/turbonomic_cloud_entity_recommendation/data-source.tf" }}

### AWS example

The _instance_type_ is configured to use the turbonomic_cloud_entity_recommendation data source unless
null is returned.  If null is returned, then the default size defined in data block of "t3.nano" is used.

{{ tffile "examples/aws-ec2/main.tf" }}

### Azure example

The `size` is configured to use the `turbonomic_cloud_entity_recommendation` data source unless null is
returned, in which case it uses `Standard_B1s` by default.

{{ tffile "examples/azure/main.tf" }}

### GCP example

The `machine_type` is set to use the `turbonomic_cloud_entity_recommendation` data source unless null is returned, in which case it uses `e2-micro` by default.

{{ tffile "examples/gcp/main.tf" }}

{{ .SchemaMarkdown | trimspace }}
