---
layout: ""
page_title: "Provider: {{ .RenderedProviderName }}"
description: |-
  The Turbonomic provider supplies data resources to interact with the Turbonomic API.
---

# {{ .RenderedProviderName }} provider

The Turbonomic provider supplies data resources to interact with the Turbonomic API.

The provider sets Turbonomic as the source of truth for scaling decisions about cloud
entities that are deployed through Terraform. The data source of the provider returns
the tier size based on Turbonomic scaling action recommendations, or the current size
if no scaling action exists.

## Example usage

{{ tffile "examples/provider/provider.tf" }}

## Authentication and configuration

The following examples demonstrate the Terraform code to and use the provider in different cloud environments.

### Configuring the provider credentials

Before you can use the provider, you must configure it with credentials.  You can use either `username` and `password` or `OAuth 2.0`.

#### Example using username/password credentials

{{ tffile "examples/provider/provider.tf" }}

#### Example using OAuth 2.0 credentials

In order to authenticate to Turbonomic's API using OAuth 2.0, you first need to create an OAuth client.
For more information, see [Creating and authenticating an OAuth 2.0 client](https://www.ibm.com/docs/en/tarm/8.15.0?topic=cookbook-authenticating-oauth-20-clients-api#cookbook_administration_oauth_authentication__title__4)
to create the client. The output from the preceeding documentation will result in the following parameters:
- clientId
- clientSecret
- role

{{ tffile "examples/provider/providerOAuth.tf" }}

-> **NOTE:** Valid roles are ADMINISTRATOR, SITE_ADMIN, AUTOMATOR, DEPLOYER, ADVISOR, OBSERVER, OPERATIONAL_OBSERVER, SHARED_ADVISOR and SHARED_OBSERVER.

## Naming convention for Data Sources
Each data source is named to clearly indicate the cloud provider and the resource type.

Naming pattern: `turbonomic_<provider>_<resource_type>`.

### Examples
| Data Source Name                             | Cloud Provider    | Resource Type           |
|----------------------------------------------|-------------------|-------------------------|
| `turbonomic_aws_instance`                    | AWS               | EC2 Instance            |
| `turbonomic_azurerm_linux_virtual_machine`   | Azure             | Linux Virtual Machine   |
| `turbonomic_azurerm_windows_virtual_machine` | Azure             | Windows Virtual Machine |
| `turbonomic_google_compute_instance`         | Google Cloud      | Compute Engine Instance |



## Features and bug requests

If you have a bug or feature request, then use one of the following resources to create an issue:

* If an existing feature of the provider is working in an unexpected way, [raise a support case] (https://ibm.biz/turbonomic-support).

* If you'd like the provider to support a new feature, [raise an idea] (https://ibm.biz/turbonomic-ideas)
 to the Turbonomic product team.

{{ .SchemaMarkdown | trimspace}}
